.topoEsquerdo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.topoCentro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.topoDireito {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
}

.centroEsquerdo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.centroCentro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.centroDireito {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.finalEsquerdo  {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
}

.finalCentro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.finalDireito {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}
ul {
    width: 10px;
    height: 10px;
    display: flex;
    list-style: none;
}
h1 {
    color: whitegi;
}